.section_third {
  width: 1440px;
  position: relative;
  top: 200px;
  display: flex;
}

.section_third_wrap_first_text_first {
  width: 69px;
  left: 98px;
  top: 12px;
  position: relative;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: #212121;
}

.section_third_wrap_first_text_second {
  width: 75px;
  left: 101px;
  top: 5px;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: #949494;
}

.section_third_wrap_first_image {
  position: relative;
  width: 80px;
  height: 80px;
  left: 135px;
  top: 84px;
}

.section_third_wrap_second_text_first {
  position: relative;
  width: 42px;
  height: 64px;
  left: 124px;
  top: -19px;
  font-weight: 600;
  font-size: 32px;
  line-height: 200%;
  text-align: center;
  color: #212121;
}

.section_third_wrap_first {
  width: 183px;
  position: relative;
  left: 120px;
}

.section_third_wrap_second {
  width: 250px;
  position: relative;
  left: 369px;
}

.section_third_wrap_third {
  width: 250px;
  position: relative;
  left: 589px;
}

.section_third_wrap_second_text_second {
  width: 154px;
  position: relative;
  left: 86px;
  top: -44px;
  font-weight: 400;
  font-size: 16px;
  color: #949494;
}

.section_third_wrap_second_image {
  width: 80px;
  height: 80px;
  left: 490px;
  top: 58px;
  position: relative;
}

.section_third_wrap_third_text_first {
  width: 21px;
  position: relative;
  left: 154px;
  top: -10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 200%;
  text-align: center;
  color: #212121;
}

.section_third_wrap_third_text_second {
  width: 117px;
  left: 114px;
  top: -34px;
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #949494;
}

.section_third_wrap_third_image {
  width: 80px;
  height: 80px;
  left: 900px;
  top: 68px;
  position: relative;
}
